.cards {
  --min-width: 175px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
  gap: 1rem;
}

.card {
  a {
    display: block;
  }

  figcaption {
    padding: 1rem;
  }
}

.page__home .cards {
  --min-width: 120px;
}

.submit__tiles {
  container-type: inline-size;
  .cards {
    --count: 3;
    grid-template-columns: repeat(var(--count), minmax(0, 1fr));

    @container (width < 550px) {
      --count: 2;
    }

    @container (width < 200px) {
      --count: 1;
    }
  }
}
