// Custom Colours and Fonts

$custom-orange-dark: #df5207;
$custom-green-dark: #6a7029;
$custom-brown-dull: #dfd4ba;
$custom-brown-faded: #e6dfcc;
$custom-brown-lightest: #f7f4ee;

// TODO: remove duplication
:root {
  --custom-orange-dark: #df5206;
  --custom-green-dark: #6a7029;
  --custom-brown-dull: #dfd4ba;
  --custom-brown-faded: #e6dfcc;
  --custom-brown-lightest: #f7f4ee;
}

$font-family-serif: var(--font-playfairDisplay), Georgia, "Times New Roman", Times, serif;

$footer-outer: lighten($custom-brown-faded, 5%);
$footer-inner: $custom-brown-faded;
$footer-border: darken($custom-brown-faded, 5%);

// Spacers
$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 9,
  8: $spacer * 12,
  9: $spacer * 18,
  10: $spacer * 24,
);

// Custom Bootstrap Variables

$body-bg: #f5f5f5;

$primary: $custom-orange-dark;
$secondary: $custom-green-dark;
$dark: #231f20;
$light: #e9ecef;

$font-family-sans-serif: var(--font-openSans), Roboto, Arial, sans-serif;
$headings-font-family: $font-family-serif;

$navbar-padding-y: $spacer;

$list-group-item-padding-x: $spacer;
$list-group-item-padding-y: map-get($spacers, 2);

$card-border-radius: 0;

/* Bootstrap */
@import "bootstrap";

// Constrainer
$constrainer-offset: 512px;
$constrainer-width: map-get($container-max-widths, "xl") + $constrainer-offset;

.constrainer {
  @media (min-width: ($constrainer-width+1px)) {
    border: 1px solid $custom-brown-dull;
    border-top: 0;
    border-bottom: 0;
    margin: auto;
    width: $constrainer-width;
    &::before,
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

/* Specific Custom Styles (copied from the original V2 frontend */

// Sponsors
.Sponsors {
  ul {
    padding-left: 0;
    list-style: none;

    li {
      padding-bottom: map-get($spacers, 1);
      a {
        color: $body-color;

        &:hover {
          color: $body-color;
        }
      }
    }
  }

  h3 {
    font-size: $font-size-base;
    font-weight: 600;
    font-family: $font-family-base;
    text-transform: uppercase;
  }
}


// Footer
footer {
  background-color: $footer-inner;

  ul.footer-links {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: calc(-1 * $grid-gutter-width/2);

    li {
      margin-left: calc($grid-gutter-width/2);
      margin-right: calc($grid-gutter-width/2);
      display: inline-block;
    }
  }

  .footer-sponsor {
    font-size: $font-size-sm;
  }
  .footer-attribution {
    font-size: $font-size-sm * 0.9;

    @include media-breakpoint-up(md) {
      text-align: right;
    }

    .version {
      color: #807e77;
    }
  }
  .catalyst {
    color: #212b17;
  }
  .constrainer {
    background-color: $footer-outer;
    border-color: $footer-border;
  }
}

// Hide arrows on number fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}

// Allow new lines in text
.whitespace-pre-line {
  white-space: pre-line
}

// Allow image overhang on bird profile pages
@include media-breakpoint-up(lg) {
  .overhang-container {
    position: relative;

    .overhang-image {
      position: absolute;
      z-index: 10;
      right: 0;
      top: 0;
    }
  }
}