# APIs
NEXT_PUBLIC_API_BASE= # Kea Database backend base URL for redirects (without trailing slash)
NEXT_PUBLIC_API_PATH= # Kea Database URL to be used by app (without trailing slash)
NEXT_PUBLIC_WORDPRESS_BASE= # WordPress base URL (without trailing slash) for CMS
